<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bretema.rutas"
    android:versionCode="1"
    android:versionName="1.5.0 RC1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        
        <service
            android:name="com.bretema.rutas.core.LicenseManagerService"
            android:label="@string/licenseManager" >
        </service>

        <receiver
            android:name="com.bretema.rutas.activities.MyBootReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.bretema.rutas.activities.SplashActivity"
            android:noHistory="true"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bretema.rutas.activities.RouteListActivity"
            android:label="@string/title_activity_route_list"
            android:screenOrientation="landscape"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.bretema.rutas.activities.RouteDetailActivity"
            android:label="@string/title_activity_route_detail"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.bretema.rutas.activities.RouteMapActivity"
            android:label="@string/title_activity_map"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.bretema.rutas.activities.SlideShowActivity"
            android:label="@string/title_activity_slide_show"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.bretema.rutas.activities.AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="landscape" >
        </activity>
    </application>

</manifest>